#outer {
	text-align:center;
	
}

a::after{
  font-family: 'Bungee'; 
}

h1{
  color:rgba(100, 50, 255, .8);
  font-family: 'Bungee';
  color:#212121;
}

#quiz {
	text-align:center;
	font-family: 'Bungee';
	font-size: 30pt;
}

#question {
	margin-bottom: 29px;
}



















